@font-face {
    font-family: Agatha-Modern;
    src: url("fonts/agatha_modern.ttf");
    font-size: 50pt;
    font-stretch: normal;
}

@font-face {
    font-family: Zing-Rust;
    src: url("fonts/zing_rust.ttf");
    font-size: 50pt;
    font-stretch: normal;
}

.bg-primary{
    background: beige;
}

.bg-img {
    background-image: url("img/bg.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
}

.nav-menu > ul {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333
}

.menu-link  {
    display: block;
    color: white;
    text-align: center;
    padding: 10pt 20pt;
    text-decoration: none;
}

.menu-link {
    float: left;
}

.menu-link a:hover {
    background-color: #04AA6D;
    padding: 10pt 0;
}

.menu-link a {
    text-decoration: none;
    color: white;
}

.page-header {
    text-align: center;
    font-family: Zing-Rust, serif;
}

.page-header:hover{
    color: #04AA6D;
}

.ol-list {
    margin: 5pt 10pt;
}

p {
    margin-left: 20pt;
}

.photo {
    margin-right: 20pt;
    border: 1px solid gray;
}

.center-img{
    margin-top: 5pt;
    text-align: center;
}

.bottom-img {
    display: inline;
    float: bottom;
    width: 200px;
    height: 200px;
}

table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
}
TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
}

.custom-footer{
    margin-top: 100pt;
    text-align: center;
}