@import url(common.css);

.shop-img {
  width: 700px;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.welcome-text {
  padding-left: 20px;
}

ul {
  list-style-type: circle;
}

#modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-content {
  background-color: white;
  width: 50%;
  max-width: 600px;
  padding: 20px;
  margin: 450px auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
