@import url("common.css");

.price-form {
    width: 7em;
    text-align: right;
}

.filter {
    flex-shrink: 0; width: 20%;
}

.filter-form {
    font-size: 14pt;
}

.button-form {
    text-align: center;
    margin-top: 20px;
}

.catalog-item-card {
    display: flex;
    margin-left: 5%;
    padding: 1%;
    border: 1px black solid;
    border-radius: 4px;
}

.catalog-item-card-image {
    width: 300px;
    display: flex;
    border: 1px black solid;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
}

.catalog-item-card-text {
    justify-content: center;
    align-self: center;
    flex-grow: 1;
}

.catalog-item-card-cart-button {
    margin-top: 10px;
    align-self: center;
    font-size: 18pt;
    background-color: lightcoral;
    width: 50%;
}

.catalog-item-card-like-button {
    margin-top: 20px;
    align-self: center;
    font-size: 18pt;
    width: 50%;
}

.error-message {
    font-size: 16px;
    color: rgb(255, 0, 0);
  }