@import url("common.css");
body {
  cursor: none;
}
a:hover {
  cursor: none;
}
button:hover {
  cursor: none;
}
#item-container img {
  max-width: 200px;
  max-height: 200px;
}

.left-categories-bar {
  font-size: 16pt;
  padding: 5px 0;
}

.banner {
  height: 150px;
}

.btn-up {
  /* фиксированное позиционирование */
  position: fixed;
  z-index: 999;
  /* цвет фона */
  background-color: #000000;
  /* расстояние от правого края окна браузера */
  right: 20px;
  /* расстояние от нижнего края окна браузера */
  bottom: 0;
  /* скругление верхнего левого угла */
  border-top-left-radius: 8px;
  /* скругление верхнего правого угла */
  border-top-right-radius: 8px;
  /* вид курсора */
  cursor: pointer;
  /* отображение элемента как flex */
  display: flex;
  /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
  align-items: center;
  /* выравниваем элементы внутри элемента по центру вдоль главной оси */
  justify-content: center;
  /* ширина элемента */
  width: 60px;
  /* высота элемента */
  height: 50px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #868686; /* цвет заднего фона при наведении */
  }
}

.sim-slider-element .slide {
  display: flex;
  flex-direction: column;
}

.sim-slider-element .slide p:first-child {
  font-weight: bold;
  font-size: 20px;
  display: inline;
}

.sim-slider-element .slide p:nth-child(2) {
  align-self: flex-end;
}

.sim-slider-element .slide p:nth-child(3) {
  text-indent: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sim-slider-element .slide p:last-child {
  font-size: 14px;
  color: grey;
}

.sim-slider {
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 1500px;
  min-width: 1020px;
  height: 300px;
  margin: 20px auto;
  padding: 30px 50px;
}

/* General styles */
.sim-slider {
  position: relative;
  border: 1px solid black;
}

.sim-slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.sim-slider-element {
  width: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}

/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
  width: 22px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 4;
}

div.sim-slider-arrow-left {
  left: 10px;
  top: 40%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png")
    no-repeat;
}

div.sim-slider-arrow-right {
  right: 10px;
  top: 40%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png")
    no-repeat;
}

div.sim-slider-arrow-left:hover {
  opacity: 1;
}

div.sim-slider-arrow-right:hover {
  opacity: 1;
}

div.sim-slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
}

span.sim-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #bbb;
  border-radius: 5px;
  cursor: pointer;
}

.timer-container {
  text-align: center;
  border: 1px solid black;
  background-color: rgb(31, 76, 226);
  color: #ffffff;
}
.timer-container p {
  font-size: 1.2rem;
}
#countdown {
  font-size: 3rem;
  font-weight: bold;
}

.follow-cursor {
  display: block;
  width: 32px;
  height: 32px;
  background: #0d6efd;
  border: 1px solid #0d6efd;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  transform: translate(-50%, -50%) rotate(45deg); /* Поворачиваем курсор на 45 градусов */
  transition: width 0.64s, height 0.64s, transform 0.64s, background 0.64s;
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
}

.follow-cursor_active {
  height: 64px;
  width: 64px;
  border-width: 2px;
  background: rgba(13, 110, 253, 0.72);
}

@media (max-width: 991.98px) {
  .follow-cursor {
    display: none;
  }
}
