@import url("common.css");

.new-item-form {
    border: 1px black solid;
    border-radius: 4px;
    padding: 20px 20px;
    width: 60%;
}

.heading-form {
    text-align: center;
    font-size: 18pt;
}

.input-form {
    margin-top: 10px;
    font-size: 18pt;
}

.radiobutton {
    display: inline;
}

.button-form {
    text-align: center;
    margin-top: 20px;
}

.error {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
